RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !favicon.ico$
RewriteCond %{REQUEST_FILENAME} !magnific-popup.css$
RewriteCond %{REQUEST_FILENAME} !all.min.css$

RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
#RewriteRule !\.(js|ico|gif|jpg|JPG|png|css|map|json|svg|eot|ttf|scss)$ index.php?url=$1 [QSA,L]