{% extends 'base.html.twig' %}

{% block title %}Snow Tricks {% endblock %}
{% block header %}
    <!-- Header -->



{% endblock %}

{% block content %}
    <section class="bg-light" id="portfolio">
        <div class="container">
            <div class="card">
                <div class="row mb-5">
                    <div class="col-md-12 mb-5">
                        <header class="masthead card-img-top">
                            <div class="intro-text">
                                <div class="intro-lead-in">Nom du trick</div>
                            </div>
                        </header>
                    </div>
                </div>
                <div class="container">
                    <div class="row mb-5">
                        <div class="col-md-2 col-sm-6 portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <i class="fas fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img class="img-fluid" src="img/portfolio/01-thumbnail.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-6 portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <i class="fas fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img class="img-fluid" src="img/portfolio/02-thumbnail.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-6 portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <i class="fas fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img class="img-fluid" src="img/portfolio/01-thumbnail.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-6 portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <i class="fas fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img class="img-fluid" src="img/portfolio/02-thumbnail.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-6 portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <i class="fas fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img class="img-fluid" src="img/portfolio/01-thumbnail.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-6 portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <i class="fas fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img class="img-fluid" src="img/portfolio/02-thumbnail.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-6 portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <i class="fas fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img class="img-fluid" src="img/portfolio/01-thumbnail.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-6 portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <i class="fas fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img class="img-fluid" src="img/portfolio/02-thumbnail.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-10 ml-auto mr-auto mb-5">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, atque blanditiis,
                                commodi cumque earum eligendi est et illo laudantium libero magni nihil nobis
                                nostrum praesentium quasi ratione, reiciendis repellat voluptas.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto atque
                                commodi, culpa deleniti, error eum ex fugit harum itaque magnam modi natus quas quia
                                quibusdam sequi tempora tempore voluptas!</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam, assumenda
                                doloribus dolorum eius eos error et explicabo fugit iure maiores minus necessitatibus
                                nostrum reprehenderit, tempore unde vel volupta</p>
                        </div>

                    </div>
                </div>
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-md-8 ml-auto mr-auto mb-2">
                            <ul class="list-unstyled">
                                <li class="media mb-3">
                                    <img src="https://via.placeholder.com/65" class="mr-3 rounded-circle" alt="...">
                                    <div class="media-body ">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="mt-0 mb-1 card-title">Pseudo</h5>
                                                <div class="card-text">
                                                    <div class="form-group">

                                                        <textarea class="form-control" id="exampleFormControlTextarea1"
                                                                  rows="2"></textarea>
                                                    </div>
                                                    <div class="form-group card-text">
                                                        <button type="button" class="btn btn-outline-dark">Ajouter
                                                            votre
                                                            commentaire
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-8 ml-auto mr-auto mb-2">
                            <h4 class="text-center mb-4">Commentaires</h4>
                            <ul class="list-unstyled">
                                <li class="media mb-3">
                                    <img src="https://via.placeholder.com/65" class="mr-3 rounded-circle" alt="...">
                                    <div class="media-body ">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="mt-0 mb-1 card-title">Bob</h5>
                                                <p class="card-text">Cras sit amet nibh libero, in gravida nulla. Nulla
                                                    vel
                                                    metus scelerisque ante
                                                    sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                                                    viverra
                                                    turpis.</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="media mb-3">
                                    <img src="https://via.placeholder.com/65" class="mr-3 rounded-circle" alt="...">
                                    <div class="media-body ">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="mt-0 mb-1 card-title">Bob</h5>
                                                <p class="card-text">Cras sit amet nibh libero, in gravida nulla. Nulla
                                                    vel
                                                    metus scelerisque ante
                                                    sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                                                    viverra
                                                    turpis.</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="media mb-3">
                                    <img src="https://via.placeholder.com/65" class="mr-3 rounded-circle" alt="...">
                                    <div class="media-body ">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="mt-0 mb-1 card-title">Bob</h5>
                                                <p class="card-text">Cras sit amet nibh libero, in gravida nulla. Nulla
                                                    vel
                                                    metus scelerisque ante
                                                    sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                                                    viverra
                                                    turpis.</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
