{% extends 'base.html.twig' %}

{% block title %}Snow Trick / Mot de passe oublié{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="card mt-5  ml-auto mr-auto">
                <div class="col-md-12  mb-2 ">
                    <h1 class="h3 mt-3 mb-4 font-weight-normal">Réinitialiser votre mot de passe</h1>
                    {{ form(form) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}