{% extends 'template.twig'%}
{% block title %}Admin interface{% endblock %}
{% block content %}
    <header class="masthead bg-primary text-white text-center">
        <div class="container">
            <h1>Admin interface</h1>
            <p>
                <a href="admin.php">admin interface</a>
            </p>
        </div>
    </header>
    <section id="contact">
        <div class="container">
            <h5 class="text-center text-uppercase text-secondary mb-0">Ajouter un article</h5>
            <hr class="star-dark mb-5">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <form action="admin-addPost" method="post">
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Titre</label>
                                    <input class="form-control" id="titre" name="title" placeholder="Titre de l'article" required="required" type="text">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                        <label>Contenu de l'article</label>
                                        <textarea class="form-control" id="message" name="content" placeholder="Contenu de l'article" required="required" rows="10"></textarea>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                        <label>Aperçu de l'article</label>
                                        <textarea class="form-control" id="message" name="chapo" placeholder="Aperçu de l'article(Chapo)" required="required" rows="5"></textarea>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Auteur</label>
                                    </div>
                                    <select class="custom-select" id="id_author" name="id_author">
                                        {% for data_author in data_authors %}
                                            <option value="{{data_author.id}}" name="id_author">
                                                {{data_author.id}}
                                                -
                                                {{data_author.author}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Envoyer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
